<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.widya.submissionarchitecturecomponent">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/logo"
        android:label="@string/action"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SubmissionArchitectureComponent"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".detail.DetailTvShowActivity"></activity>
        <activity android:name=".detail.DetailMovieActivity" />
        <activity
            android:name=".daftar.DaftarActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".daftar.DaftarActivity" />
        </activity>
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>